body{
  background-color: #C54F4F;
  font-size: 30px;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo_top {
  width: 6.4em;
  margin: 0 auto;
  position: relative;
  padding-top: 3em;
}

.logo_bottom {
  width: 6.4em;
  margin: -5em auto;
  position: relative;
}

.trap {
  border-bottom: 1.2em solid #ecf0f1;
	border-left: 0.65em solid transparent;
	border-right: 0.65em solid transparent;
	height: 0;
	width: 1.8em;
  margin-top: 1.4em;
  margin-left: 1.9em;
}

.par {
	  width: 1.6em;
  	height: 1.2em;
  	background: #ecf0f1;
  margin-left: 1.9em;
}

.trap2 {
  border-top: 1.2em solid #ecf0f1;
  	border-right: 0.65em solid transparent;
  	height: 0;
	  width: 2.4em;
  margin-left: 1.9em;
}

.hex:before {
  content: " ";
  width: 0; height: 0;
  border-bottom: 1.9em solid #333;
  border-left: 3.25em solid transparent;
  border-right: 3.25em solid transparent;
  position: absolute;
  top: -1.9em;
}

.hex {
  margin-top: 1.9em;
  width: 6.5em;
  height: 3.75em;
  background-color: #333;
  position: relative;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.hex:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -1.9em;
  border-top: 1.9em solid #333;
  border-left: 3.25em solid transparent;
  border-right: 3.25em solid transparent;
}

.hex {
  -webkit-animation: spin 8s infinite;
  -moz-animation-name: spin 8s infinite;
  animation-name: spin 8s infinite;
}

#maintext{
  text-align: center;
  padding-top: 10em;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}
